<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HomePage of IonicAngularWEatherApp
    </ion-title>
    <ion-buttons end>
         
      <!-- <button ion-button small id="btn" (click)="openSettings()">
        <a routerLink="src\app\settings\settings.page.ts" routerDirection="forward">Link</a> Settings Button</button>
      -->
     <br> Hello Weather is Sunny I hope<br />

     <!--  <button [navPush]="settingsPage">Go To Settings</button>  -->

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
<ul>
  <li><p>"G00296946 Student Number here"</p></li>
</ul>

<ion-card-content>
  <ion-buttons>
    <button [navPush]="settingsPage">Go To Settings</button>
  </ion-buttons>

</ion-card-content>
</ion-content>
